@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--page-gutter: 1rem;
	--shell-width: 54rem;
	--content-width: 36rem;

	@media screen(sm) {
		--page-gutter: 2rem;
	}

	color-scheme: light dark;

	--color-base: 32deg 52% 95%;
	--color-surface: 32deg 52% 92%;
	--color-overlay: 32deg 52% 90%;
	--color-muted: 32deg 9% 52%;
	--color-subtle: 32deg 9% 34%;
	--color-text: 32deg 9% 16%;
	--color-primary: 32deg 95% 44%;

	@media (prefers-color-scheme: dark) {
		--color-base: 333deg 5% 9%;
		--color-surface: 333deg 5% 14%;
		--color-overlay: 333deg 5% 19%;
		--color-muted: 60deg 5% 48%;
		--color-subtle: 60deg 5% 80%;
		--color-text: 60deg 5% 98%;
		--color-primary: 43deg 96% 56%;
	}
}

html {
	@apply bg-base text-text antialiased;
}

[id] {
	@apply scroll-mt-3;
}

@layer utilities {
	.break-long-words {
		overflow-wrap: break-word;
		word-break: break-word;
	}
}
